@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,400;1,700&family=Lobster&family=Nunito:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

  .max-width{
      max-width: 1300px;
      padding: 0 80px;
      margin: auto;
  }
  
 .navbar{
     position: fixed;
     width: 100%;
     z-index: 999;
     padding: 30px 0;
     font-family: 'EB Garamond', serif;
     transition: all 0.3s ease;
 }

 .navbar.sticky{
    padding: 15px 0;
    background-color: coral;
}

 .navbar .max-width{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .navbar .logo  a {
    font-size: 30px;
    color: rebeccapurple;
 }

 .navbar .logo  a span{
     color: #d400a4;
 }

 .navbar .menu li{
     list-style: none;
     display: inline;
 }
 
 .navbar .menu li a:hover{
    color: rgb(34, 115, 165);
  }

 .navbar .menu li a{
     color: bisque;
     font-size: 20px;
     font-weight: 500;
     margin-left: 25px;
 }

/*Home styling*/
 .home{
     display: flex;
     background: url("pfback.png") no-repeat center;
     background-size: 100% 100%;
     height: 100vh;
     color: #fff;
     min-height: 500px; 
     font-family: 'EB Garamond', serif ;   
 }

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text1{
    font-size: 30px;
}

.home .home-content .text2{
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content a{
    display: inline-block;
    background: #d400a4;
    color: bisque;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #d400a4;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: #d400a4;
    background: none;
}

/*About Section Styling*/
section{
    padding: 100px 0;
}

.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'EB Garamond', serif;
}

.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background-color: #111;
    transform: translateX(-50%);
}

.about{
    font-family: 'Nunito', sans-serif;
}

.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    height: 500px;
    width: 350px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: #d400a4;
    color: bisque;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #d400a4;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover{
    color: #d400a4;
    background: none;
}

/*Skills Section Styling*/
.skills .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'EB Garamond', serif;
}

.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background-color: #111;
    transform: translateX(-50%);
}

.skills{
    font-family: 'Nunito', sans-serif;
}

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .left a{
    display: inline-block;
    background: #d400a4;
    color: bisque;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #d400a4;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover{
    color: #d400a4;
    background: none;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span{
    font-weight: 600;
    font-size: 18px;
}

.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #d400a4;
}

.skills-content .right .c::before{
    width: 90%;
}

.skills-content .right .cpp::before{
    width: 65%;
}

.skills-content .right .java::before{
    width: 70%;
}

.skills-content .right .html::before{
    width: 90%;
}

.skills-content .right .css::before{
    width: 70%;
}

.skills-content .right .js::before{
    width: 60%;
}

.skills-content .right .php::before{
    width: 50%;
}

.skills-content .right .mysql::before{
    width: 80%;
}






/*Responsive Media Query*/
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
.navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
}

.navbar .menu.active{
    left: 0;
}

.navbar .menu li{
    display: block;
}

.navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
}

.home .home-content .text-2{
    font-size: 70px;
}

.home .home-content .text-3{
    font-size: 35px;
}

.home .home-content a{
    font-size: 23px;
    padding: 10px 30px;
}

.max-width{
    max-width: 930px;
}

.about .about-content .column{
    width: 100%;
}

.about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

.about .about-content .right{
    flex: 100%;
}

.skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px; 
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
}
